$colour-dark: #404040;
$colour-light: #fff;

$colour-blue: #008bc4;
$colour-purple: #863486;
$colour-red: #c73035;
$colour-orange: #d76d17;
$colour-yellow: #d99f24;
$colour-green: #518c3d;

$spacer: 5rem;

@font-face {
  font-family: 'Bangers';
  font-style: normal;
  font-weight: 400;
  src: local('Bangers Regular'),
       local('Bangers-Regular'),
       url('Bangers-Regular.woff') format('woff');
}

@keyframes wiggle {
  0% {
    transform: rotate(10deg);
  }

  25% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(20deg);
  }

  75% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

body {
  background-image: linear-gradient(30deg, $colour-dark, $colour-dark $spacer, $colour-blue $spacer, $colour-blue $spacer*2, $colour-purple $spacer*2, $colour-purple $spacer*3, $colour-red $spacer*3, $colour-red $spacer*4, $colour-orange $spacer*4, $colour-orange $spacer*5, $colour-yellow $spacer*5, $colour-yellow $spacer*6, $colour-green $spacer*6, $colour-green $spacer*7, $colour-dark $spacer*7);
  background-color: $colour-dark;
  color: $colour-light;
  height: 100vh;
  font-family: 'Bangers', cursive;
  letter-spacing: 1.5rem;
  margin: 0;
}

.container {
  display: flex;
  height: 90vh;
  justify-content: center;
  align-items: center;
}

.s-fancy-as-fuck {
  display: block;
  margin: 0 auto;
  font-size: 20vw;
  width: 80vw;
}

.s:hover {
  .l {
    display: inline-block;
    animation-name: wiggle;
    animation-duration: 1000ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
  }
}
