@font-face {
  font-family: 'Bangers';
  font-style: normal;
  font-weight: 400;
  src: local('Bangers Regular'),
       local('Bangers-Regular'),
       url('Bangers-Regular.woff') format('woff');
}

@keyframes wiggle {
  0% {
    transform: rotate(10deg);
  }

  25% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(20deg);
  }

  75% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

body {
  $spacer: 5rem;

  background-image: linear-gradient(30deg,
                                    #404040, #404040 $spacer,
                                    #008bc4 $spacer, #008bc4 $spacer*2,
                                    #863486 $spacer*2, #863486 $spacer*3,
                                    #c73035 $spacer*3, #c73035 $spacer*4,
                                    #d76d17 $spacer*4, #d76d17 $spacer*5,
                                    #d99f24 $spacer*5, #d99f24 $spacer*6,
                                    #519c3d $spacer*6, #519c3d $spacer*7,
                                    #404040 $spacer*7);
  background-color: #404040;
  color: #fff;
  height: 100vh;
  font-family: 'Bangers', cursive;
  letter-spacing: 1.5rem;
  margin: 0;
}

.container {
  display: flex;
  height: 90vh;
  justify-content: center;
  align-items: center;
}

.s-fancy-as-fuck {
  display: block;
  margin: 0 auto;
  font-size: 20vw;
  width: 80vw;
}

.s:hover {
  .l {
    display: inline-block;
    animation-name: wiggle;
    animation-duration: 1000ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
  }
}
